In [1]:
import numpy as np
import pandas as pd

url ='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_df = pd.read_csv(url, header=None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
print(iris_df.index)
print(iris_df.columns)
iris_df.columns = list('abcde')
print(iris_df.head())

RangeIndex(start=0, stop=150, step=1)
Int64Index([0, 1, 2, 3, 4], dtype='int64')
     a    b    c    d            e
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
# iris_df['x'] = iris_df['a']/iris_df['b']
iris_df.insert(2, 'x2',iris_df['a']/iris_df['b'])

In [4]:
print(iris_df)
iris_df_d = iris_df.drop(['a','d','e'], axis=1)
print(iris_df_d.head())

       a    b        x2    c    d               e
0    5.1  3.5  1.457143  1.4  0.2     Iris-setosa
1    4.9  3.0  1.633333  1.4  0.2     Iris-setosa
2    4.7  3.2  1.468750  1.3  0.2     Iris-setosa
3    4.6  3.1  1.483871  1.5  0.2     Iris-setosa
4    5.0  3.6  1.388889  1.4  0.2     Iris-setosa
..   ...  ...       ...  ...  ...             ...
145  6.7  3.0  2.233333  5.2  2.3  Iris-virginica
146  6.3  2.5  2.520000  5.0  1.9  Iris-virginica
147  6.5  3.0  2.166667  5.2  2.0  Iris-virginica
148  6.2  3.4  1.823529  5.4  2.3  Iris-virginica
149  5.9  3.0  1.966667  5.1  1.8  Iris-virginica

[150 rows x 6 columns]
     b        x2    c
0  3.5  1.457143  1.4
1  3.0  1.633333  1.4
2  3.2  1.468750  1.3
3  3.1  1.483871  1.5
4  3.6  1.388889  1.4

In [7]:
s1 = pd.Series(list('abcde'), index=[x for x in range(5)])
s2 = pd.Series(list('XYZF'), index=[3,2,5,1])
df1 = pd.DataFrame({'a':s1, 'b':s2})
print(df1)

     a    b
0    a  NaN
1    b    F
2    c    Y
3    d    X
4    e  NaN
5  NaN    Z

In [19]:
# print(df1.isna())
# print(df1.dropna())
# print(df1.replace(np.NaN, 'x'))
df1['a'] = df1['a'].replace(np.NaN,'xx')
df1['b'].replace(np.NAN, 'ppp', inplace=True)
print(df1)

    a    b
0   a  ppp
1   b    F
2   c    Y
3   d    X
4   e  ppp
5  xx    Z