## 전국푸드트럭허가구역표준데이터
- 전국/지자체별 푸드트럭 허가구역 갯수
- 전국/지자체별 푸드트럭 운영대수

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

food_df = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding='cp949')

In [2]:
for i in enumerate(food_df.columns):
    print(i)

(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')

In [3]:
national_site_count = food_df.shape[0]
food_df['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [4]:
food_df['푸드트럭운영대수'].sum()

444.0

In [6]:
sub_data = food_df[['시도명','푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [13]:
# 전국 푸드트럭 허가구역 수
total_count = len(food_df)
print(f"전국 푸드트럭 허가구역 수: {total_count}개")

전국 푸드트럭 허가구역 수: 342개

In [17]:
# 지자체별 푸드트럭 허가구역 수
count_by_gov = food_df.groupby('시도명').size().reset_index(name='허가구역수')
print(count_by_gov)

        시도명  허가구역수
0       강원도     34
1       경기도     80
2      경상남도     48
3      경상북도     11
4     광주광역시     14
5     대구광역시     12
6     대전광역시      6
7     부산광역시      9
8     서울특별시     17
9     울산광역시      1
10    인천광역시      8
11     전라남도     13
12     전라북도      7
13  제주특별자치도     17
14     충청남도     24
15     충청북도     41

In [10]:
# 전국 푸드트럭 운영대수
total_sum = food_df['푸드트럭운영대수'].sum()
print(f"전국 푸드트럭 운영대수: {total_sum}대")

전국 푸드트럭 운영대수: 444.0대

In [9]:
# 지자체별 푸드트럭 운영대수
sum_by_gov = food_df.groupby('시도명')['푸드트럭운영대수'].sum().reset_index(name='운영대수')
print(sum_by_gov)

        시도명   운영대수
0       강원도   25.0
1       경기도  136.0
2      경상남도   57.0
3      경상북도   17.0
4     광주광역시   14.0
5     대구광역시    4.0
6     대전광역시   12.0
7     부산광역시   17.0
8     서울특별시   35.0
9     울산광역시    1.0
10    인천광역시    9.0
11     전라남도   29.0
12     전라북도   10.0
13  제주특별자치도   41.0
14     충청남도   30.0
15     충청북도    7.0