[문제]

* pd_iris 로부터, petal_length의 평균치를 구하고자 한다.

- petal_length의 결측치, 오류치, 이상치(1.5*IQR 바깥)의 갯수는 각 몇개인가.

- 결측치, 오류치, 이상치를 어떻게 처리할지 결정하고, (삭제, 다른 적절한 값으로 대체) 결정의 간단한 이유를 제시하시오.

- 결측치, 오류치, 이상치를 처리 하시오.

- petal_length의 평균치를 구하시오.

In [27]:
import numpy as np
import pandas as pd
import random

random.seed(123)
pd_iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
pd_iris.columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'class']
print(pd_iris)
rand_axis0 = [random.randint(0,150) for _ in range(5)]
rand_axis1 = [random.randint(0, 4) for _ in range(5)]
pd_iris.iloc[rand_axis0, rand_axis1] = np.NaN
# print(pd_iris)

rand_axis0 = [random.randint(0,150) for _ in range(5)]
rand_axis1 = [random.randint(0, 4) for _ in range(5)]
pd_iris.iloc[rand_axis0, rand_axis1] = 123.4 + random.randint(0,4)/10
df1 = pd.DataFrame(np.arange(100, 120).reshape(4,5), dtype='str')
df1

     petal_length  petal_width  sepal_length  sepal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

     0    1    2    3    4
0  100  101  102  103  104
1  105  106  107  108  109
2  110  111  112  113  114
3  115  116  117  118  119

In [41]:
# 결측치: 4개
pd_iris['petal_length'].isna().value_counts()

# 오류치: 없음
pd_iris['petal_length'].describe()

# 이상치: 없음
q1, q3 = pd_iris['petal_length'].quantile([0.25,0.75])
iqr = q3 - q1
upper = q3 + 1.5*iqr
lower = q1 - 1.5*iqr
print(lower, upper)
filter1 = pd_iris['petal_length'] > upper
filter2 =  pd_iris['petal_length'] < lower
print(filter1.value_counts())
print(filter2.value_counts())

3.1499999999999986 8.350000000000001
False    149
Name: petal_length, dtype: int64
False    149
Name: petal_length, dtype: int64

In [44]:
pd_iris['petal_length'] = pd_iris['petal_length'].fillna(pd_iris['petal_length'].mean())

False    149
Name: petal_length, dtype: int64

In [45]:
pd_iris['petal_length'].mean()

5.843448275862068

결측치 : 4개
오류치 : 없음
이상치 : 없음
결측치는 petal_length 평균값으로 대체

아래와 같이 df1을 pd_iris에 axis0을 따라 합쳐,

- 최종 shape이 (153,5)가 되도록,

- 중복된 index 값이 없도록 구성하시오.

* 필요시 df1의 column 또는 index 값 조정 가능.

In [53]:
df1.columns = pd_iris.columns
pd_data = pd.concat([pd_iris,df1],ignore_index=True)
pd_data

    petal_length petal_width sepal_length sepal_width           class
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
148          5.9         3.0          5.1         1.8  Iris-virginica
149          100         101          102         103             104
150          105         106          107         108             109
151          110         111          112         113             114
152          115         116          117         118             119

[153 rows x 5 columns]