In [2]:
import sys
print(sys.version)

3.10.9 (tags/v3.10.9:1dd9be6, Dec  6 2022, 20:01:21) [MSC v.1934 64 bit (AMD64)]

In [8]:
a = 10
print(type(a))
print(a)

b = 10.5
print(type(b))

c = 'abcd'
print(type(c))

d = True
print(type(d))

del c

<class 'int'>
10
<class 'float'>
<class 'str'>
<class 'bool'>

In [9]:
print(c)

NameError: name 'c' is not defined

In [25]:
# list, tuple, set, dictionary
list1 = [1,2,3,4]
print(list1)
print(type(list1))

list2 = [1, 10.5, 'abc', False, [1,2,3,4]]
print(list2)

#tuple은 한 번 만들면 바꿀 수 없음
tuple1 = (1,2,3,4)
print(tuple1)
print(type(tuple1))

set1 = {1,2,3,4}
print(set1)

list2 = [1,2,3,4,4,5,5,5]
set2 = {1,2,3,4,4,5,5,5}
print(list2)
print(set2)

d1 = {'a':1, 'b':2, 'c':3}
print(d1)
print(type(d1))

[1, 2, 3, 4]
<class 'list'>
[1, 10.5, 'abc', False, [1, 2, 3, 4]]
(1, 2, 3, 4)
<class 'tuple'>
{1, 2, 3, 4}
[1, 2, 3, 4, 4, 5, 5, 5]
{1, 2, 3, 4, 5}
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [29]:
a = 5
if a>10:
    print('greater than 10')
elif a>3:
    print('greater than 3')
elif a==5:
    print('is five')
else:
    print('not greater than 10')

greater than 3

In [33]:
for i in range(4):
    print(i)

for _ in range(4):
    print('message')

0
1
2
3
message
message
message
message

In [40]:
#start, stop, step
#stop index는 나오지 않음
a = range(0,50,3)
print(a)
print(type(a))

for i in a:
    print(i)

range(0, 50, 3)
<class 'range'>
0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [44]:
# 100에서 500미만 5의 배수 출력

list1 = []
for i in range(100, 500, 5):
    list1.append(i)
    
print(list1)

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495]

In [47]:
list2 = [x*10 for x in range(100,500,5)]
print(list2)

[1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700, 2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250, 3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800, 3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350, 4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900, 4950]

In [81]:
a = 0
for i in range(0,100):
    if i%3 == 0 or i%5 == 0:
        a += i
print(a)

2318
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [86]:
list_3 = []
list_5 = []

for i in range(0,100,3):
    list_3.append(i)
    
for i in range(0,100,5):
    list_5.append(i)
    
print(list_3)
print(list_5)

list_3_a = []
for i in list_3:
    if i%5 > 0:
        list_3_a.append(i)
print(list_3_a)

s = 0
for i in list_3_a:
    s = s + i
    
for i in list_5:
    s = s + i
    
print(s)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]
2318

In [93]:
list_3 = [i for i in range(0,100,3)]
list_5 = [i for i in range(0,100,5)]
print(list_3)
print(list_5)
print(list_3 + list_5)

list_all = []
for i in list_3:
    list_all.append(i)
for i in list_5:
    list_all.append(i)
print(list_all)
    
r = 0
set1 = set(list_all)
print(set1)
for i in set1:
    r = r + i
print(r)
print(sum(set1))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
{0, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99}
2318
2318

In [97]:
list_a = []

for i in range(0,100):
    if i%3 == 0 or i%5 == 0:
        list_a.append(i)
        
print(sum(list_a))

2318

In [99]:
list_a = [i for i in range(0,100) if i%3==0 or i%5==0]
print(sum(list_a))

2318